

<h1>Team <%= @team.name %></h1>
<h2>Team Motto: <%= @team.motto %></h2>
<h2>Members</h2>

  <%@heroes.each do |hero| %>
    <h3>Hero Name: <%= hero.name %></h3>
    <p>Hero Power: <%= hero.power %></p>
    <p>Hero Biography: <%= hero.bio %></p>
  <%end%>